body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cardActions {
    float: right;
}

.inputCard, .reviewCard {
  width: 90%;
  margin: 20px auto;
}

.inputField {
  width: 200px;
}

.commentField {
  width: 300px;
}